@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/lato-thin/Lato-Thin.eot');
  src: url('../../assets/fonts/lato-thin/Lato-Thin.eot#iefix') format('embedded-opentype'),
  url('../../assets/fonts/lato-thin/Lato-Thin.woff2') format('woff2'),
  url('../../assets/fonts/lato-thin/Lato-Thin.woff') format('woff'),
  url('../../assets/fonts/lato-thin/Lato-Thin.ttf') format('truetype'),
  url('../../assets/fonts/lato-thin/Lato-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/lato-light/Lato-Light.eot');
  src: url('../../assets/fonts/lato-light/Lato-Light.eot#iefix') format('embedded-opentype'),
  url('../../assets/fonts/lato-light/Lato-Light.woff2') format('woff2'),
  url('../../assets/fonts/lato-light/Lato-Light.woff') format('woff'),
  url('../../assets/fonts/lato-light/Lato-Light.ttf') format('truetype'),
  url('../../assets/fonts/lato-light/Lato-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/lato-regular/Lato-Regular.eot');
  src: url('../../assets/fonts/lato-regular/Lato-Regular.eot#iefix') format('embedded-opentype'),
  url('../../assets/fonts/lato-regular/Lato-Regular.woff2') format('woff2'),
  url('../../assets/fonts/lato-regular/Lato-Regular.woff') format('woff'),
  url('../../assets/fonts/lato-regular/Lato-Regular.ttf') format('truetype'),
  url('../../assets/fonts/lato-regular/Lato-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}